<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country-Quiz</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="head">
        <h1>Welcome to country quiz</h1>
        <h4>Click on <span style="color: rosybrown;">PLAY</span> to get started</h4>
    </div>

    <div class="quiz-type">
        <span></span>
        <div class="quiz_option">
            <h1>Guess the country by capital</h1>
            <a href="/capital"><button type="submit">PLAY</button></a>
        </div>
        <div class="quiz_option">
            <h1>Guess the country by flag</h1>
            <a href="/flag"><button type="submit">PLAY</button></a>
        </div>
    </div>
</body>

</html>