body {
  background-image: url(../images/background.jpg);
  background-repeat: repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.head {
  background-color: rgb(165, 205, 84);
  margin: 0 30%;
  font-size: 2.8vh;
  border-radius: 4%;
  color: white;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 40%;
  height: 300px;
  margin: 15% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}

.quiz-type {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 10px;
  padding-top: 10%;

}

.quiz_option {
  height: 22em;
  width: 100%;
  background-color: burlywood;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1vw;
  word-spacing: 3px;
}

.head {
  text-align: center;
  margin-top: 5%;
}

h3 {
  margin: 0;
}

.answer-container {
  width: 100%;
  text-align: center;
}

input {
  text-align: center;
  width: 30%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: large;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffca00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.horizontal-container {
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: #ffd500;
}

#result {
  text-align: center;
  font-size: 24px;
}

.checkmark {
  color: transparent;
  animation: checkmark 0.5s ease;
}

.cross {
  color: transparent;
  animation: cross 0.5s ease;
}

@keyframes checkmark {
  0% {
    color: transparent;
  }

  100% {
    color: green;
  }
}

@keyframes cross {
  0% {
    color: transparent;
  }

  100% {
    color: red;
  }
}